3. Import the required pachages with their cutomary aliases as follows:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4. Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [2]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

In [3]:
print(gdp_df.head(5), "\n", gdp_df.tail(5))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2021  1517.016266              NaN
1     Afghanistan  2020  1968.341002              NaN
2     Afghanistan  2019  2079.921861              NaN
3     Afghanistan  2018  2060.698973              NaN
4     Afghanistan  2017  2096.093111              NaN
      Country or Area  Year        Value  Value Footnotes
7657        Zimbabwe  1994  2670.106615              NaN
7658        Zimbabwe  1993  2458.783255              NaN
7659        Zimbabwe  1992  2468.278257              NaN
7660        Zimbabwe  1991  2781.787843              NaN
7661        Zimbabwe  1990  2704.757299              NaN

5.How many rows and columns are in gdp_df? What are the data types of each column?

In [4]:
print("Number of Rows: ", len(gdp_df.axes[0]), "\nNumber of Columns: ", len(gdp_df.axes[1]), "\n", gdp_df.dtypes)

Number of Rows:  7662
Number of Columns:  4
 Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

6. Drop the Value Footnotes column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [5]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [6]:
gdp_df = gdp_df.rename(columns={"Country or Area": "Country", "Year": "Year", "Value": "GDP_Per_Capita"})

How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [15]:
y = len(pd.unique(gdp_df['Year'])) #This is how many years there are.

cnty = gdp_df['Country'].value_counts() #This will make a new df with the count of each country

count = 0 #This for loop goes through the new df and sees if a countries count equal how many years there were
for i in cnty:
    if i == y:
        count = count + 1
    else: count = count + 0
print(count, "countries have data every year")

202 countries have data every year

In [18]:
gdp_df['Country'].value_counts().tail(41)

Country
Germany                      33
Hungary                      32
Lebanon                      32
Aruba                        32
Tonga                        32
Bhutan                       32
Slovak Republic              31
Kuwait                       31
Turkmenistan                 31
Cambodia                     30
West Bank and Gaza           29
Bosnia and Herzegovina       29
Latvia                       28
Israel                       28
Estonia                      28
Serbia                       28
Lithuania                    28
Iceland                      28
Moldova                      28
Maldives                     28
Croatia                      28
Slovenia                     28
Small states                 26
Montenegro                   26
San Marino                   25
Libya                        24
Timor-Leste                  23
Liberia                      23
Other small states           23
Qatar                        23
Palau                        22
CuraÃ§ao                     22
SÃ£o TomÃ© and Principe      22
Afghanistan                  20
Nauru                        19
Cayman Islands               16
Kosovo                       15
Sint Maarten (Dutch part)    14
Turks and Caicos Islands     12
Somalia                      10
Djibouti                     10
Name: count, dtype: int64